<div class="div-container">
    <div class="div-img">
        <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/8707.png" alt="" class="img-logo">
    </div>
    <div class="div-navbar-container">
        <button class="button-navbar">Su di me</button>
        <button class="button-navbar">Lavoro con voi</button>
        <button class="button-navbar">Progetti</button>
        <button class="button-navbar">Articoli</button>
        <button class="button-navbar">Home</button>
    </div>
</div>