<div class="div-container">
    <div class="div-img">
        <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/8707.png" alt="" class="img-logo">
    </div>
    <div class="div-navbar-container">
        <button class="button-navbar" routerLink="/about-me">Su di me</button>
        <button class="button-navbar" routerLink="/work-with-u">Lavoro con voi</button>
        <button class="button-navbar" routerLink="/projects">Progetti</button>
        <button class="button-navbar" routerLink="/articles">Articoli</button>
        <button class="button-navbar" routerLink="/home">Home</button>
        <button class="button-navbar button-navbar-hidden" mat-button [matMenuTriggerFor]="menu"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg></button>
        <mat-menu #menu="matMenu" class="mat-menu-container">
            <button mat-menu-item routerLink="/home">Home</button>
            <button mat-menu-item routerLink="/articles">Articoli</button>
            <button mat-menu-item routerLink="/projects">Progetti</button>
            <button mat-menu-item routerLink="/work-with-u">Lavoro con voi</button>
            <button mat-menu-item routerLink="/about-me">Su di me</button>
        </mat-menu>
    </div>
    
</div>