@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.div-container{
    // background-color: #EA2B1F;  ;
    height: 150px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.div-img{
    height: 100%;
}

.img-logo{
    height: 100%;
}

.div-navbar-container{
    width: 80%;
    display: block;
    flex-direction: row;
    // background-color: green;
    margin-left: auto;
}

.button-navbar{
    height: 100%;
    width: 15%;
    float: right;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border: none;
    background-color: white;
}

.button-navbar:hover{
    background-color: #F9DF74;;
}

.button-navbar:active{
    background-color: #F9EDCC;
}

.button-navbar-hidden{
    display: none;
}

::ng-deep .mat-menu-container {
    background-color: #F9EDCC !important;
}
@media screen and (max-width: 992px) {

    .div-container{
        width: 100%;
        height: 100px;
    }

    .button-navbar{
        width: 20%;
    }
    
}
  
@media screen and (max-width: 600px) {
    
    .div-container{
        // background-color: red;
        height: 80px;
    }


    .button-navbar{
        height: 100%;
        width: 20%;
        float: right;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        border: none;
        background-color: white;
    }

}

@media screen and (max-width: 415px){
    .div-container{
        height: 70px;
    }

    .button-navbar{
        display: none;
    }

    .button-navbar-hidden{
        display: block;
    }

    .mat-menu-item{
        color: black;
        font-size: 20px;
    }

    .mat-menu-item:hover{
        background-color: #F9DF74;
    }
}