<div class="div-container-footer">
    <div class="div-infos">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contatti</li>
            <li>Sezione curiosi</li>
            <li>Privacy Policy</li>
            <li>Cookie Policy</li>
            <li>Terms & Conditions</li>
        </ul>
    </div>
    <div class="div-infos-smartphone">
        <ul class="ul-line">
            <li>Home</li>
            <li>About</li>
            <li>Contatti</li>
        </ul>
        <ul class="ul-line">    
            <li>Sezione curiosi</li>
            <li>Privacy Policy</li>
            <li>Cookie Policy</li>
            <li>Terms & Conditions</li>
        </ul>
    </div>
    <div class="div-icons">
        <a href="https://www.facebook.com/junior.essandgi" target="_blank"><img class="img-icon " src="../../assets/facebook-icon.png" alt="" style="border-radius: 20%;"></a>
        <a href="https://www.instagram.com/essandgi/" target="_blank"><img class="img-icon " src="../../assets/instagram-icon.png" alt="" style="border-radius: 20%;"></a>
        <a href="https://twitter.com/EssAndGi" target="_blank" ><img class="img-icon " src="../../assets/twitter-icon.png" alt="" style="border-radius: 20%;"></a>
        <a href="https://www.linkedin.com/in/junior-sulca-gonzales/" target="_blank"><img class="img-icon " src="../../assets/linkedin-icon.png" alt="" style="border-radius: 20%;"></a>
        <a href="https://www.reddit.com/user/EssAndGi" target="_blank"><img class="img-icon " src="../../assets/reddit-icon.png" alt="" style="border-radius: 20%;"></a>
        <a href="https://t.me/JR_1993" target="_blank"><img class="img-icon " src="../../assets/telegram-icon.png" alt="" style="border-radius: 20%;"></a>
    </div>
    <br>
    <div class="div-copyright">
        <p class="p-copyright">Copyright © 2021&nbsp;Junior Sulca&nbsp;•&nbsp;Fullstack Developer</p>
    </div>
</div>