<div class="div-container-footer">
    <div class="div-infos">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contatti</li>
            <li>Sezione curiosi</li>
            <li>Privacy Policy</li>
            <li>Cookie Policy</li>
            <li>Terms & Conditions</li>
        </ul>
    </div>
    <div class="div-infos-smartphone">
        <ul class="ul-line">
            <li>Home</li>
            <li>About</li>
            <li>Contatti</li>
        </ul>
        <ul class="ul-line">    
            <li>Sezione curiosi</li>
            <li>Privacy Policy</li>
            <li>Cookie Policy</li>
            <li>Terms & Conditions</li>
        </ul>
    </div>
    <div class="div-icons">
        <img class="img-icon " src="../../assets/facebook-icon.png" alt="" style="border-radius: 20%;">
        <img class="img-icon " src="../../assets/instagram-icon.png" alt="" style="border-radius: 20%;">
        <img class="img-icon " src="../../assets/twitter-icon.png" alt="" style="border-radius: 20%;">
        <img class="img-icon " src="../../assets/linkedin-icon.png" alt="" style="border-radius: 20%;">
        <img class="img-icon " src="../../assets/reddit-icon.png" alt="" style="border-radius: 20%;">
        <img class="img-icon " src="../../assets/telegram-icon.png" alt="" style="border-radius: 20%;">
    </div>
    <br>
    <div class="div-copyright">
        <p class="p-copyright">Copyright © 2021&nbsp;Junior Sulca&nbsp;•&nbsp;Fullstack Developer</p>
    </div>
</div>