#copyright{
    font-size: initial;
    text-align-last: center;
    padding-top: 3px;
    padding-left: 4px;
}

#copyright-text{
    font-size: 11px
}

#footer-title{
    font-size: 25px
}

#footer-by{
    font-size: 14px
}