<div class="div-container-lavoro">
    <div class="div-presentazione">
        <h2>Benvenut@ nella sezione "Lavoro con voi".</h2>
        <p>Se quello che cerchi è un giovane Developer da inserire all'interno del tuo team di sviluppo allora potrei fare al caso tuo.</p>
        <p>Sono una persona che cerca di essere il più aggiornato possibile sulle nuove tecnologie nel mondo dello sviluppo web (front e back end).
        <br>Ritengo di essere molto organizzato e di lavorare bene in team.
        </p>
        <p>Spero di conoscerti presto e magari diventare collaboratori per crescere insieme professionalmente.</p>
    </div>
    <div class="div-mail-social">
        <div class="div-mail-container">
            <h1>Scrivimi una mail..</h1>
            <form action="https://formspree.io/f/mrgrlkqp" method="POST">
                <label>
                E-mail:
                <br>
                <input type="email" name="_replyto">
                </label>
                <label>
                Messaggio:
                <br>
                <textarea name="message"></textarea>
                </label>
                <button type="submit">Send</button>
            </form>
        </div>
        <div class="div-social-container">
            <h1 >..o contattami sui social!</h1>
            <div class="div-social-icons">
                <div class="div-line">
                    <a href="https://www.facebook.com/junior.essandgi" target="_blank"><img class="img-social-icon" src="../../assets/facebook-icon.png" alt="" style="border-radius: 20%;"></a>
                    <a href="https://www.instagram.com/essandgi/" target="_blank"><img class="img-social-icon" src="../../assets/instagram-icon.png" alt="" style="border-radius: 20%;"></a>
                    <a href="https://twitter.com/EssAndGi" target="_blank"><img class="img-social-icon" src="../../assets/twitter-icon.png" alt="" style="border-radius: 20%;"></a>    
                </div>
                <div class="div-line">
                    <a href="https://www.linkedin.com/in/junior-sulca-gonzales/" target="_blank"><img class="img-social-icon" src="../../assets/linkedin-icon.png" alt="" style="border-radius: 20%;"></a>
                    <a href="https://www.reddit.com/user/EssAndGi" target="_blank"><img class="img-social-icon" src="../../assets/reddit-icon.png" alt="" style="border-radius: 20%;"></a>
                    <a href="https://t.me/JR_1993" target="_blank"><img class="img-social-icon" src="../../assets/telegram-icon.png" alt="" style="border-radius: 20%;"></a>
                </div>
            </div>
        </div>
    </div>
</div>