<div class="div-container-home">
    <div class="div-presentation">
        <h1 class="h1-titolo">EssAndgi - Full Stack Developer</h1>
        <img class="img-photo" src="../../assets/img-Jr.png" alt=""><br>
        <p class="p-presentazione">Ciao, mi chiamo Junior e sono un Fullstack Developer residente a Milano.</p>
        <p class="p-presentazione">Sono sempre pronto a mettermi in gioco ed a fare nuove conoscenze.</p>
    </div>
    <div>
        <h3 style="text-align: center; background-color: yellow;">Sito in fase di creazione...</h3>
    </div>
</div>